.loader {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 10px dotted teal;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.5);
    }
}