*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 900px;

}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    display: flex;
    padding: 15px;
    border:2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btn{
    display: flex;
}
.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;

}
.page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current{
    background-color: teal;
    color: white;
}
.Navbar{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: teal;
}
.Navbar__links{
    margin-left: auto;

}

.btns{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 24px;
}